# server configuration
server:
  host: "http://127.0.0.1"
  port: 8083

oauth:
  enabled: true
  trusted_issuers:
    - "http://localhost:8082/jwks"

realm:
  name: "SCORPIO.IO"
  password_rotation: "1h"
  password_length: 18